/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
.ds-2col > .group-left {
  float: left;
  width: 32%; }

.ds-2col > .group-right {
  float: left;
  width: 50%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 48.75%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left {
    margin-right: 2.5%; }

#superfish-1-select {
  margin-top: 32px; }

.logo-img img {
  width: 70%;
  padding-bottom: 10px;
  margin-bottom: 0; }

.ds-2col > .group-right {
  float: left;
  width: 65%;
  margin-left: 20px; }

.block-superfish {
  float: right; }

.zone-user-wrapper li {
  font-size: 0.750em; }

.front h2 {
  text-transform: uppercase;
  font-size: 2.250em; }
.front .bannertext {
  font-size: 1.500em;
  text-align: center; }
  .front .bannertext a {
    font-size: 0.938em; }

.block-diensten-block h2.block-title {
  background: url("img/line.png") no-repeat scroll left -149% center, url("img/line.png") no-repeat scroll right -144% center transparent; }

a.buttonblue {
  padding: 10px 0;
  font-size: 12px;
  width: 100%;
  float: left;
  text-align: center;
  box-sizing: border-box; }

a.buttonred {
  padding: 14px 25px;
  font-size: 0.938em; }

.view-diensten .views-row {
  width: 20%;
  padding: 50px 6%; }

.view-werknemers .views-row {
  width: 18%;
  float: left;
  padding: 50px 3%;
  min-height: 315px; }

.node-type-webform #zone-content-wrapper {
  padding: 80px 0; }
  .node-type-webform #zone-content-wrapper .form-actions {
    width: 25%;
    margin: 0 auto; }

#zone-content-wrapper {
  padding: 80px 0; }

#block-views-werknemers-block-1 .view-werknemers .views-row {
  width: 27%;
  min-height: 285px;
  padding: 5px 3% 0px 3%; }

.region-sidebar-first {
  padding: 20px 0px; }
  .region-sidebar-first .block-superfish {
    float: left; }
  .region-sidebar-first .block-superfish-3 {
    float: left;
    padding-bottom: 10px; }
    .region-sidebar-first .block-superfish-3 ul li {
      margin: 0;
      width: 100%;
      margin-left: 0px;
      border-bottom: 1px dashed #ddd; }
      .region-sidebar-first .block-superfish-3 ul li a {
        font-size: 0.938em;
        padding: 4px 0;
        font-weight: 400; }
  .region-sidebar-first .sf-megamenu-column ol li a {
    font-size: 0.750em; }
  .region-sidebar-first .sf-megamenu-column ol li a:before {
    content: '\003e';
    margin-right: 3%; }
  .region-sidebar-first .block-superfish-4 {
    float: left;
    padding-bottom: 10px; }
    .region-sidebar-first .block-superfish-4 ul li {
      margin: 0;
      width: 100%;
      margin-left: 0px;
      border-bottom: 1px dashed #ddd; }
      .region-sidebar-first .block-superfish-4 ul li a {
        font-size: 0.938em;
        padding: 4px 0;
        font-weight: 400; }
  .region-sidebar-first .block-superfish-5 {
    float: left;
    padding-bottom: 10px; }
    .region-sidebar-first .block-superfish-5 ul {
      padding: 0px; }
      .region-sidebar-first .block-superfish-5 ul li {
        margin: 0;
        width: 100%;
        margin-left: 0px;
        border-bottom: 1px dashed #ddd; }
        .region-sidebar-first .block-superfish-5 ul li a {
          font-size: 0.938em;
          padding: 4px 0;
          font-weight: 400; }

.context-nieuws .pager li {
  border-right: none;
  color: #006c68;
  font: "Open Sans", sans-serif;
  font-size: 0.938em;
  outline: 0; }
  .context-nieuws .pager li a {
    color: #006c68; }
.context-nieuws .pager li a {
  background: none;
  cursor: pointer; }
.context-nieuws .pager {
  background: #f1f4f9;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 6px 0; }
.context-nieuws li.pager-first {
  display: none; }
.context-nieuws .pager li.pager-current {
  background: #e36968;
  border-radius: 15px;
  color: #FFF;
  outline: 0; }
.context-nieuws .views-field-field-image {
  width: 30%;
  float: left; }
.context-nieuws .views-field-title {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left; }
  .context-nieuws .views-field-title a {
    color: #000; }
.context-nieuws .views-field-created {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  font-size: 0.938em;
  margin-bottom: 20px;
  text-align: left; }
.context-nieuws .views-field-field-samenvatting {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  text-align: left; }
.context-nieuws .views-field-view-node {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  text-align: left; }
  .context-nieuws .views-field-view-node a {
    color: #e36968; }
.context-nieuws .view-nieuws .views-row {
  min-height: 264px; }
.context-nieuws h2 {
  text-transform: uppercase; }

.front #zone-content-wrapper {
  padding: 10px 0; }

.block-superfish-2 {
  float: left; }

.front .bean-banner h2 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 52px; }
.front .bean-banner .paragraphs-items-field-paragraphs {
  width: 60%;
  margin: 0 auto; }
  .front .bean-banner .paragraphs-items-field-paragraphs .paragraphs-item-2-kolommen-tekst {
    position: relative;
    height: 155px; }
  .front .bean-banner .paragraphs-items-field-paragraphs .group-left {
    background: rgba(228, 104, 104, 0.9);
    padding: 3%;
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 40%; }
  .front .bean-banner .paragraphs-items-field-paragraphs .group-right {
    width: 50%;
    float: right; }
    .front .bean-banner .paragraphs-items-field-paragraphs .group-right .bannertext {
      font-size: 1.000em;
      text-align: left;
      font-weight: 300; }

.context-diensten .block-diensten-block-2 .views-field-field-image img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }
.context-diensten .block-diensten-block-1 .view-diensten .views-row .views-field-field-samenvatting {
  width: 60%;
  float: left;
  text-align: left; }
.context-diensten .block-diensten-block-1 .views-field-view-node a {
  color: #e36968;
  width: 55%;
  text-align: right; }
.context-diensten .block-diensten-block-1 .view-diensten .views-row {
  width: 100%;
  padding: 0 0; }
  .context-diensten .block-diensten-block-1 .view-diensten .views-row .views-field-field-image {
    width: 35%;
    float: left;
    margin-right: 5%; }
  .context-diensten .block-diensten-block-1 .view-diensten .views-row .views-field-created {
    width: 60%;
    float: left;
    text-align: left;
    font-size: 0.938em;
    margin-bottom: 20px; }
  .context-diensten .block-diensten-block-1 .view-diensten .views-row .views-field-title-1 {
    width: 60%;
    float: left;
    text-align: left;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 300;
    color: #000; }
    .context-diensten .block-diensten-block-1 .view-diensten .views-row .views-field-title-1 a {
      color: #000; }

.context-diensten .view-diensten .views-row {
  border-bottom: 1px solid #f1f4f9;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.context-nieuws .view-id-nieuws .views-row .views-field-field-samenvatting {
  width: 55%;
  float: left;
  text-align: left; }
.context-nieuws .views-field-view-node {
  width: 55%; }
  .context-nieuws .views-field-view-node a {
    color: #e36968;
    width: 100%;
    float: right;
    text-align: right; }
.context-nieuws .views-field-field-image {
  width: 35%;
  float: left;
  margin-right: 5%; }
.context-nieuws .views-field-created {
  width: 55%;
  float: left;
  text-align: left;
  font-size: 0.938em;
  margin-bottom: 20px; }
.context-nieuws .views-field-title {
  width: 55%;
  float: left;
  text-align: left;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 300;
  color: #000; }
  .context-nieuws .views-field-title a {
    color: #000; }
.context-nieuws #edit-field-catogorie-tid {
  width: 100%;
  float: left; }
.context-nieuws .views-submit-button {
  width: 100%; }
.context-nieuws #edit-submit-nieuws {
  background-color: #006c68;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
  width: 47%;
  float: left;
  text-align: center; }

.zone-user-wrapper {
  width: 100%;
  background-color: #464b58; }
  .zone-user-wrapper li {
    float: left;
    list-style: none;
    padding: 7px 30px 0px 0;
    font-size: 0.688em;
    font: "Open Sans", sans-serif;
    color: #d1d2d5; }
  .zone-user-wrapper .place {
    float: left; }
    .zone-user-wrapper .place li.place {
      color: #d1d2d5;
      padding-right: 30px;
      float: left; }
    .zone-user-wrapper .place li.place:before {
      font-family: FontAwesome;
      content: "\f041";
      margin-right: 5px;
      color: #d1d2d5; }
    .zone-user-wrapper .place a {
      color: #d1d2d5; }
  .zone-user-wrapper .phone {
    float: left; }
    .zone-user-wrapper .phone li.phone {
      padding-right: 30px;
      color: #d1d2d5;
      width: 100%;
      float: left; }
    .zone-user-wrapper .phone li.phone:before {
      font-family: FontAwesome;
      content: "\f10b";
      margin-right: 5px;
      color: #d1d2d5; }
    .zone-user-wrapper .phone a {
      color: #d1d2d5; }
  .zone-user-wrapper .mail {
    float: left; }
    .zone-user-wrapper .mail li {
      float: left; }
    .zone-user-wrapper .mail a {
      color: #d1d2d5; }
    .zone-user-wrapper .mail a:before {
      font-family: FontAwesome;
      content: "\f0e0";
      margin-right: 5px;
      color: #d1d2d5; }
  .zone-user-wrapper .region-user-second-inner {
    float: right; }
    .zone-user-wrapper .region-user-second-inner .block-1 {
      float: left; }
    .zone-user-wrapper .region-user-second-inner .block-translate-block-1 {
      float: left;
      margin-top: 7px; }
    .zone-user-wrapper .region-user-second-inner .views-row {
      float: left; }

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  top: 28px;
  width: 100%;
  z-index: 997; }

/*# sourceMappingURL=default-alpha-default-narrow.css.map */
