/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'variables';

.logo-img {
  margin: 0;
  max-width: 100%;
  margin-top: -19px;
  img {
    width:56%;
  }
}

.is-sticky {
  .logo-img {
    margin: 0;
    max-width: 93%;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    img {
      width:56%;
    }
  }
  .zone-branding-wrapper {
    top:0!important;
  }
}

.node-type-webform {
  #zone-content-wrapper {
    .webform-component {
      width:35%;
      margin:0 auto;
      margin-bottom:10px;
    }
    input {
      border-radius:5px;
    }
    .form-actions {
      width:20%;
      margin:0 auto;
    }
  }
}

#zone-content-wrapper {
  padding: 50px 0;
}

.context-diensten {
  .ds-2col > .group-left {
    margin-bottom:30px;
    width: 30%;
    text-align: left;
  }
  .ds-2col > .group-right {
    margin-bottom:30px;
    width: 65%;
    text-align: left;
  }
}

.block-superfish-2 {
  float:left;
}


.front {
  .bean-banner {
    h2 {
      color:#fff;
      font-weight:300;
      margin-bottom: 52px;
    }
    .paragraphs-items-field-paragraphs {
      width: 60%;
      margin: 0 auto;
      .paragraphs-item-2-kolommen-tekst {
        position: relative;
        height: 180px;
      }
      .group-left {
        background: rgba(228, 104, 104, 0.9);
        padding: 3%;
        position: absolute;
        left: 0;
        bottom: 36px;
        width:41%;
      }
      .group-right {
        width: 49%;
        float:right;
        padding-bottom:50px;
        .bannertext {
          font-size: 1.313em;
          text-align: left;
          font-weight: 300;
        }
      }
    }
  }
}

a.buttonblue {
  padding: 10px 0;
  font-size: 12px;
  width: 47%;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.context-contact-0 {
  .region-postscript-second-inner {
    width:100%;
  }
}

.block-diensten-block {
  h2.block-title {
    background: url("img/line.png") no-repeat scroll left -27% center, url("img/line.png") no-repeat scroll right -29% center transparent;
  }
}

.context-nieuws {
  .view-id-nieuws .views-row .views-field-field-samenvatting {
    width: 55%;
    float: left;
    text-align: left;
  }
  .views-field-view-node {
    width:55%;
    a {
      color: #e36968;
      width: 55%;
      float: left;
      text-align: left;
    }
  }
  .views-field-field-image {
    width: 35%;
    float: left;
    margin-right: 5%;
  }
  .views-field-created {
    width: 55%;
    float: left;
    text-align: left;
    font-size: 0.938em;
    margin-bottom: 20px;
  }
  .views-field-title {
    width: 55%;
    float: left;
    text-align: left;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 300;
    color:#000;
    a {
      color:#000;
    }
  }
  #edit-field-catogorie-tid {
    width:100%;
    float:left;
  }
  .views-submit-button {
    width:100%;
  }
  #edit-submit-nieuws {
    background-color: #006c68;
    color: #fff;
    padding: 10px 0;
    font-size: 12px;
    width: 47%;
    float: left;
    text-align: center;
  }
}
