/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'variables';

.logo-img {
  margin: 0;
  max-width: 100%;
  margin-top: -19px;
  img {
    width:56%;
  }
}

.node-type-webform {
  #zone-content-wrapper {
    .webform-component {
      width:35%;
      margin:0 auto;
      margin-bottom:10px;
    }
    input {
      border-radius:5px;
    }
    .form-actions {
      width:20%;
      margin:0 auto;
    }
  }
}

#zone-content-wrapper {
  padding: 50px 0;
}

.context-diensten {
  .ds-2col > .group-left {
    margin-bottom:30px;
    width: 30%;
    text-align: left;
  }
  .ds-2col > .group-right {
    margin-bottom:30px;
    width: 65%;
    text-align: left;
  }
}

.block-superfish-2 {
  float:left;
}