/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 32%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

#superfish-1-select {
  margin-top:32px;
}

.logo-img img {
  width: 70%;
  padding-bottom: 10px;
  margin-bottom:0;
}

.ds-2col > .group-right {
  float: left;
  width: 65%;
  margin-left: 20px;
}

.block-superfish {
  float: right;
}

.zone-user-wrapper {
  li {
    font-size:0.750em;
  }
}

.front {
  h2 {
    text-transform:uppercase;
    font-size:2.250em;
  }
  .bannertext {
    font-size: 1.500em;
    text-align:center;
    a {
      font-size:0.938em;
    }
  }
}

.block-diensten-block {
  h2.block-title {
    background: url("img/line.png") no-repeat scroll left -2% center, url("img/line.png") no-repeat scroll right -4% center transparent;
  }
}

a.buttonblue {
  padding: 14px 7px;
  font-size: 0.625em;
  width: 100%;
}

a.buttonred {
  padding:14px 25px;
  font-size: 0.938em;
}

.view-diensten {
  .views-row {
    width: 20%;
    padding: 50px 6%;
  }
}


.view-werknemers {
  .views-row {
    width: 18%;
    float: left;
    padding: 50px 3%;
    min-height:315px;
  }
}

.node-type-webform {
  #zone-content-wrapper {
    padding:80px 0;
    .form-actions {
      width:25%;
      margin:0 auto;
    }
  }
}

#zone-content-wrapper {
  padding: 80px 0;
}

#block-views-werknemers-block-1 {
  .view-werknemers .views-row {
    width: 26%;
    min-height:285px;
    padding: 5px 3% 0px 3%;
  }
}

.region-sidebar-first {
  padding:20px 0px;
  .block-superfish {
    float:left;
  }
  h2.block-title {
    text-align: left;
    text-transform: none;
    color:#fff;
    margin-bottom: 20px;
    font-size: 1.875em;
    font-weight: 400;
    float:left;
  }
  .block-superfish-3 {
    float:left;
    color:#fff;
    padding-bottom:10px;
    h2.block-title {
      margin-bottom:10px;
      text-transform:none;
      float:left;
    }
    ul {
      li {
        margin:0;
        width:100%;
        margin-left:10px;
        a {
          color:#fff;
          font-size:0.938em;
          padding:4px 0;
          font-weight:400;
        }
      }
    }
  }

  .sf-megamenu-column {
    ol {
      li {
        a {
          font-size:0.750em;
          color:#fff;
        }
        a:before {
          content:'\003e';
          margin-right:3%;
        }
      }
    }
  }
  .block-superfish-4 {
    float:left;
    color:#fff;
    padding-bottom:10px;
    h2.block-title {
      margin-bottom:10px;
      text-transform:none;
      float:left;
    }
    ul {
      li {
        margin:0;
        width:100%;
        margin-left:10px;
        a {
          color:#fff;
          font-size:0.938em;
          padding:4px 0;
          font-weight:400;
        }
      }
    }
  }
  .block-superfish-5 {
    float:left;
    color:#fff;
    padding-bottom:10px;
    h2.block-title {
      margin-bottom:10px;
      text-transform:none;
      float:left;
    }
    ul {
      padding:10px;
      li {
        margin:0;
        width:100%;
        margin-left:10px;
        a {
          color:#fff;
          font-size:0.938em;
          padding:4px 0;
          font-weight:400;
        }
      }
    }
  }
}

.context-nieuws {
  .pager li {
    border-right: none;
    color: $groen;
    font:$font;
    font-size:0.938em;
    outline: 0;
    a {
      color:$groen;
    }
  }
  .pager li a {
    background: none;

    cursor: pointer;
  }
  .pager {
    background: $gray;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding:6px 0;
  }
  li.pager-first {
    display:none;
  }
  .pager li.pager-current {
    background:$red;
    border-radius:15px;
    color: #FFF;
    outline: 0;
  }
  .views-field-field-image {
    width:30%;
    float:left;
  }
  .views-field-title {
    width:67%;
    float:left;
    margin:0 0 0 3%;
    font-size:1.125em;
    text-transform:uppercase;
    font-weight:300;
    text-align:left;
    a {
      color:#000;
    }
  }
  .views-field-created {
    width:67%;
    float:left;
    margin:0 0 0 3%;
    font-size:0.938em;
    margin-bottom: 20px;
    text-align:left;
  }
  .views-field-field-samenvatting {
    width:67%;
    float:left;
    margin:0 0 0 3%;
    text-align:left;
  }
  .views-field-view-node {
    width:67%;
    float:left;
    margin:0 0 0 3%;
    text-align:left;
    a {
      color:$red;
    }
  }
  .view-nieuws {
    .views-row {
      min-height:210px;
    }
  }
  h2 {
    text-transform:uppercase;
  }
}

.front {
  #zone-content-wrapper {
    padding: 10px 0;
  }
}

.block-superfish-2 {
  float:left;
}

.breadcrumb {
  a {
    color:#000;
  }
}

.breadcrumb {
  background: url("img/breadline.png") no-repeat scroll left -20% center transparent;
  padding: 0;
}

.front {
  .bean-banner {
    h2 {
      color:#fff;
      font-weight:300;
      margin-bottom: 52px;
    }
    .paragraphs-items-field-paragraphs {
      width: 60%;
      margin: 0 auto;
      .paragraphs-item-2-kolommen-tekst {
        position: relative;
        height: 155px;
      }
      .group-left {
        background: rgba(228, 104, 104, 0.9);
        padding: 3%;
        position: absolute;
        left: 0;
        bottom: 36px;
      }
      .group-right {
        width: 56%;
        position: absolute;
        right: 0;
        bottom: 23px;
        .bannertext {
          font-size: 1.000em;
          text-align: left;
          font-weight: 300;
        }
      }
    }
  }
}


