/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%;
  margin-top: -19px; }
  .logo-img img {
    width: 56%; }

h1 {
  font-size: 2em;
  font-weight: 800;
  font-family: "Montserrat", sans-serif; }

h2 {
  font-size: 1.6em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

h2.block-title {
  font-size: 1.6em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

h3 {
  font-size: 1.4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

h4 {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

h5 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

div {
  font-family: "Montserrat", sans-serif; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 997; }

.zone-user-wrapper {
  z-index: 997;
  position: absolute;
  top: 0;
  width: 100%; }
  .zone-user-wrapper li {
    float: left;
    list-style: none;
    padding: 13px 30px 13px 0;
    font-size: 0.750em; }
  .zone-user-wrapper .place {
    float: left; }
    .zone-user-wrapper .place li.place {
      color: #fff;
      padding-right: 30px; }
    .zone-user-wrapper .place li.place:before {
      font-family: FontAwesome;
      content: "\f041";
      margin-right: 5px;
      color: #fff; }
    .zone-user-wrapper .place a {
      color: #fff; }
  .zone-user-wrapper .phone {
    float: left; }
    .zone-user-wrapper .phone li.phone {
      padding-right: 0px;
      color: #fff; }
    .zone-user-wrapper .phone li.phone:before {
      font-family: FontAwesome;
      content: "\f10b";
      margin-right: 5px;
      color: #fff; }
    .zone-user-wrapper .phone a {
      color: #fff; }
  .zone-user-wrapper .mail {
    float: left; }
    .zone-user-wrapper .mail a {
      color: #fff; }
    .zone-user-wrapper .mail a:before {
      font-family: FontAwesome;
      content: "\f0e0";
      margin-right: 5px;
      color: #fff; }
  .zone-user-wrapper .region-user-second-inner {
    float: right; }

.block-superfish {
  float: right; }

ul#superfish-1 {
  padding: 0;
  margin: 0; }
  ul#superfish-1 li {
    margin: 0;
    padding: 0; }
    ul#superfish-1 li a {
      font-size: 0.938em;
      color: #000; }
  ul#superfish-1 li.last a {
    margin: 20px 0px 15px 30px;
    padding: 40px 0 0 0;
    color: #000;
    text-transform: uppercase;
    background: url("img/contact.svg") top 10px center no-repeat;
    background-size: 20px; }
  ul#superfish-1 li.first a {
    margin: 20px 30px 15px 30px;
    padding: 40px 0 0 0;
    color: #000;
    text-transform: uppercase;
    background: url("img/home.svg") top 10px center no-repeat;
    background-size: 20px; }
  ul#superfish-1 li.sf-item-2 {
    margin: 20px 30px 15px 30px;
    padding: 40px 0 0 0;
    color: #000;
    text-transform: uppercase;
    background: url("img/diensten.svg") top 10px center no-repeat;
    background-size: 20px; }
  ul#superfish-1 li.sf-item-3 {
    margin: 20px 30px 15px 30px;
    padding: 40px 0 0 0;
    color: #000;
    text-transform: uppercase;
    background: url("img/nieuws.svg") top 10px center no-repeat;
    background-size: 20px; }
  ul#superfish-1 li.sf-item-4 {
    margin: 20px 30px 15px 30px;
    padding: 40px 0 0 0;
    color: #000;
    text-transform: uppercase;
    background: url("img/overons.svg") top 10px center no-repeat;
    background-size: 20px; }

.front h2 {
  text-transform: uppercase;
  font-size: 2.250em; }
.front .bannertext {
  font-size: 1.500em;
  text-align: center; }
  .front .bannertext a {
    font-size: 0.938em; }

.block-diensten-block h2.block-title {
  background: url("img/line.png") no-repeat scroll left -2% center, url("img/line.png") no-repeat scroll right -4% center transparent; }

a.buttonblue {
  background-color: #006c68;
  color: #fff;
  padding: 14px 60px;
  margin-right: 2%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938em; }

a.buttonred {
  background-color: #e36968;
  color: #fff;
  padding: 14px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.938em; }

.view-diensten .views-row {
  width: 20%;
  float: left;
  text-align: center;
  padding: 50px 6%; }
  .view-diensten .views-row .views-field-field-samenvatting {
    font-size: 0.938em; }
  .view-diensten .views-row .views-field-title {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .view-diensten .views-row .views-field-title a {
      color: #000; }
  .view-diensten .views-row .views-field-field-image {
    margin-bottom: 13px; }
.view-diensten .view-footer .button {
  text-align: center; }

.zone-preface-wrapper {
  background-color: #f7f7f7;
  padding: 50px 0; }

h2.block-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 1.875em;
  font-weight: 700; }

.zone-preface-second-wrapper {
  padding-top: 50px;
  padding-bottom: 40px; }

.zone-preface-third-wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f7f7f7; }

.view-werknemers .views-row {
  width: 18%;
  float: left;
  padding: 50px 3%;
  text-align: center;
  min-height: 315px; }
  .view-werknemers .views-row .views-field-field-naam {
    font-size: 0.938em;
    color: #e36968; }
  .view-werknemers .views-row .views-field-field-functie {
    font-size: 0.938em; }
  .view-werknemers .views-row .views-field-field-image {
    padding-bottom: 25px; }
.view-werknemers .view-header {
  text-align: center; }
.view-werknemers .view-footer .button {
  text-align: center; }

.block-bean-contact h2.block-title {
  text-align: left;
  margin-bottom: 17px; }
.block-bean-contact .field-name-field-afbeelding {
  float: left; }

.zone-postscript-wrapper {
  padding-top: 40px; }

.zone-footer-wrapper {
  background-color: #006c68;
  padding: 40px 0; }

.block-superfish-2 {
  float: left;
  color: #fff; }
  .block-superfish-2 .nolink {
    display: none; }
  .block-superfish-2 h2.block-title {
    margin-bottom: 10px;
    text-transform: none;
    float: left; }
  .block-superfish-2 ul li {
    margin: 0; }
    .block-superfish-2 ul li a {
      color: #fff;
      font-size: 0.750em;
      padding: 4px 0; }
    .block-superfish-2 ul li a:before {
      content: '\003e';
      margin-right: 3%; }

#zone-header {
  width: 100%;
  margin: 0 auto; }

#region-header-first {
  width: 100%;
  margin: 0 auto; }

#region-postscript-second {
  width: 100%;
  margin: 0 auto; }

#zone-bottom {
  width: 100%;
  margin: 0 auto; }
  #zone-bottom p {
    margin: 0;
    padding: 0;
    font-size: 0; }

.node-type-webform #zone-content-wrapper {
  background-image: url("img/contactbg.png");
  padding: 50px 0; }
  .node-type-webform #zone-content-wrapper .field-name-field-tekst-lang {
    text-align: center; }
  .node-type-webform #zone-content-wrapper .webform-component {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .node-type-webform #zone-content-wrapper input {
    border-radius: 5px; }
  .node-type-webform #zone-content-wrapper select {
    border-radius: 5px; }
  .node-type-webform #zone-content-wrapper textarea {
    border-radius: 5px; }
  .node-type-webform #zone-content-wrapper .form-actions {
    width: 20%;
    margin: 0 auto; }
  .node-type-webform #zone-content-wrapper .webform-submit {
    border-radius: 0;
    background-color: #e36968;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 15px; }

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background-color: #fff;
  background-image: none; }

ul#superfish-1 li.sf-item-2 ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
  width: 100%; }
  ul#superfish-1 li.sf-item-2 ul li {
    float: none;
    width: 200px;
    background: none;
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: uppercase; }
    ul#superfish-1 li.sf-item-2 ul li a {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      color: #000;
      text-transform: uppercase; }

.region-sidebar-first {
  background-color: #494949;
  padding: 20px 0px; }
  .region-sidebar-first .block-superfish {
    float: left; }
  .region-sidebar-first h2.block-title {
    text-align: left;
    text-transform: none;
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.875em;
    font-weight: 400;
    float: left; }
  .region-sidebar-first .block-superfish-3 {
    float: left;
    color: #fff;
    margin-left: 20px; }
    .region-sidebar-first .block-superfish-3 h2.block-title {
      margin-bottom: 10px;
      text-transform: none;
      float: left; }
    .region-sidebar-first .block-superfish-3 ul li {
      margin: 0;
      width: 100%; }
      .region-sidebar-first .block-superfish-3 ul li a {
        color: #fff;
        font-size: 0.938em;
        padding: 4px 0;
        font-weight: 400; }
  .region-sidebar-first .sf-megamenu-column ol li a {
    font-size: 0.750em;
    color: #fff; }
  .region-sidebar-first .sf-megamenu-column ol li a:before {
    content: '\003e';
    margin-right: 3%; }
  .region-sidebar-first .block-superfish-4 {
    float: left;
    color: #fff;
    margin-left: 20px; }
    .region-sidebar-first .block-superfish-4 h2.block-title {
      margin-bottom: 10px;
      text-transform: none;
      float: left; }
    .region-sidebar-first .block-superfish-4 ul li {
      margin: 0;
      width: 100%; }
      .region-sidebar-first .block-superfish-4 ul li a {
        color: #fff;
        font-size: 0.938em;
        padding: 4px 0;
        font-weight: 400; }

.view-werknemers img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }

#block-views-werknemers-block-1 {
  width: 80%;
  margin: 0 auto; }
  #block-views-werknemers-block-1 .view-werknemers img {
    width: 66%; }
  #block-views-werknemers-block-1 .view-werknemers .views-row {
    width: 26%;
    min-height: 285px;
    padding: 5px 3% 0px 3%; }
  #block-views-werknemers-block-1 .view-werknemers .views-row .views-field-field-image {
    padding-bottom: 0px; }
  #block-views-werknemers-block-1 .view-header {
    margin-bottom: 50px; }
  #block-views-werknemers-block-1 .pager li {
    border-right: none;
    color: #006c68;
    font: "Montserrat", sans-serif;
    font-size: 0.938em;
    outline: 0; }
    #block-views-werknemers-block-1 .pager li a {
      color: #006c68; }
  #block-views-werknemers-block-1 .pager li a {
    background: none;
    cursor: pointer; }
  #block-views-werknemers-block-1 .pager {
    background: #f7f7f7;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 6px 0; }
  #block-views-werknemers-block-1 li.pager-first {
    display: none; }
  #block-views-werknemers-block-1 .pager li.pager-current {
    background: #e36968;
    border-radius: 15px;
    color: #FFF;
    outline: 0; }

.context-nieuws .pager li {
  border-right: none;
  color: #006c68;
  font: "Montserrat", sans-serif;
  font-size: 0.938em;
  outline: 0; }
  .context-nieuws .pager li a {
    color: #006c68; }
.context-nieuws .pager li a {
  background: none;
  cursor: pointer; }
.context-nieuws .pager {
  background: #f7f7f7;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 6px 0; }
.context-nieuws li.pager-first {
  display: none; }
.context-nieuws .pager li.pager-current {
  background: #e36968;
  border-radius: 15px;
  color: #FFF;
  outline: 0; }
.context-nieuws .views-field-field-image {
  width: 30%;
  float: left; }
.context-nieuws .views-field-title {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 700; }
  .context-nieuws .views-field-title a {
    color: #000; }
.context-nieuws .views-field-created {
  width: 67%;
  float: left;
  margin: 0 0 0 3%;
  font-size: 0.938em;
  margin-bottom: 20px; }
.context-nieuws .views-field-field-samenvatting {
  width: 67%;
  float: left;
  margin: 0 0 0 3%; }
.context-nieuws .views-field-view-node {
  width: 67%;
  float: left;
  margin: 0 0 0 3%; }
  .context-nieuws .views-field-view-node a {
    color: #e36968; }
.context-nieuws .view-nieuws .views-row {
  min-height: 210px; }
.context-nieuws h2 {
  text-transform: uppercase; }

.context-over-ons .field-name-field-tekst-lang {
  text-align: center; }

.sticky-wrapper {
  height: 0 !important; }

.block-views-nieuws-block .view-display-id-block .views-row {
  border-top: 1px solid #a1a1a1;
  padding-top: 25px; }

/*# sourceMappingURL=global.css.map */
